{% load static %}

    <footer class="main-footer">  
    
        <div class="main-footer-menu-wrapper">
            <div class="container">

                    <nav class="main-footer-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">

                        <div class="main-footer-menu-block">
                            <h3 class="main-footer-menu-title">Художественная литература</h3>

                            <ul class="main-footer-menu-ul">

                                <li class="main-footer-menu-li"><a href="/category/russkaia-sovremennaia-proza/" itemprop="url"><span itemprop="name">Русская современная проза</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/zarubezhnaia-sovremennaia-proza/" itemprop="url"><span itemprop="name">Зарубежная современная проза</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/prikliucheniia/" itemprop="url"><span itemprop="name">Приключения</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/boevik/" itemprop="url"><span itemprop="name">Боевик</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/uzhasy/" itemprop="url"><span itemprop="name">Ужасы</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/detektivy/" itemprop="url"><span itemprop="name">Детективы</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/triller/" itemprop="url"><span itemprop="name">Триллер</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/nauchnaia-fantastika/" itemprop="url"><span itemprop="name">Научная Фантастика</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/klassicheskaia-proza-khix-veka/" itemprop="url"><span itemprop="name">Классическая проза ХIX века</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/zarubezhnaia-fantastika/" itemprop="url"><span itemprop="name">Зарубежная фантастика</span></a></li>
                
                      

                            </ul>

                        </div>


                        <div class="main-footer-menu-block">
                            <h3 class="main-footer-menu-title">Серьезное чтение</h3>

                            <ul class="main-footer-menu-ul">

                                <li class="main-footer-menu-li"><a href="/category/biologiia-biofizika-biokhimiia/" itemprop="url"><span itemprop="name">Биология, биофизика, биохимия</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/fizika/" itemprop="url"><span itemprop="name">Физика</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/zdorove/" itemprop="url"><span itemprop="name">Здоровье</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/meditsina/" itemprop="url"><span itemprop="name">Медицина</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/publitsistika/" itemprop="url"><span itemprop="name">Публицистика</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/nauchnaia-literatura/" itemprop="url"><span itemprop="name">Научная литература</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/kulturologiia/" itemprop="url"><span itemprop="name">Культурология</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/filosofiia/" itemprop="url"><span itemprop="name">Философия</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/pedagogika/" itemprop="url"><span itemprop="name">Педагогика</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/biografii-i-memuary/" itemprop="url"><span itemprop="name">Биографии и Мемуары</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/dokumentalnaia-literatura/" itemprop="url"><span itemprop="name">Документальная литература</span></a></li>
                            </ul>

                        </div>

               
                        <div class="main-footer-menu-block">
                            <h3 class="main-footer-menu-title">Психология</h3>

                            <ul class="main-footer-menu-ul">
                                <li class="main-footer-menu-li"><a href="/category/psikhoterapiia-i-konsultirovanie/" itemprop="url"><span itemprop="name">Психотерапия и консультирование</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/semeinye-otnosheniia-seks/" itemprop="url"><span itemprop="name">Семейные отношения</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/samosovershenstvovanie/" itemprop="url"><span itemprop="name">Самосовершенствование</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/ezoterika-ezotericheskaia-literatura/" itemprop="url"><span itemprop="name">Эзотерика, эзотерическая литература</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/detskaia-psikhologiia/" itemprop="url"><span itemprop="name">Детская психология</span></a></li>

                            </ul>

                        </div>

                     
                        <div class="main-footer-menu-block">
                            <h3 class="main-footer-menu-title">Бизнес</h3>

                            <ul class="main-footer-menu-ul">
                                <li class="main-footer-menu-li"><a href="/category/finansy/" itemprop="url"><span itemprop="name">Финансы</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/ekonomika/" itemprop="url"><span itemprop="name">Экономика</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/marketing-pr/" itemprop="url"><span itemprop="name">Маркетинг, PR</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/malyi-biznes/" itemprop="url"><span itemprop="name">Малый бизнес</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/rukovodstva/" itemprop="url"><span itemprop="name">Руководства</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/upravlenie-podbor-personala/" itemprop="url"><span itemprop="name">Управление, подбор персонала</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/bukhuchet-i-audit/" itemprop="url"><span itemprop="name">Бухучет и аудит</span></a></li>

                                <li class="main-footer-menu-li"><a href="/category/tsennye-bumagi-investitsii/" itemprop="url"><span itemprop="name">Ценные бумаги, инвестиции</span></a></li>
                                <li class="main-footer-menu-li"><a href="/category/deloproizvodstvo/" itemprop="url"><span itemprop="name">Делопроизводство</span></a></li>

                            </ul>

                        </div>
                    


                    </nav>
            </div>
        </div>


        <div class="main-footer-bottom-wrapper">

            <div class="container">

                <div class="main-footer-bottom">

                    <div class="main-footer-copyright">
                        {% now "Y" %} Все права защищенны - kelebooks.com
                    </div>
            
                    <nav class="main-footer-bottom-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul class="main-footer-bottom-menu-ul">
                            <li class="main-footer-bottom-menu-li"><a href="{% url 'contact' %}" itemprop="url"><span itemprop="name">Контакты</span></a></li>
                            <li class="main-footer-bottom-menu-li"><a href="{% url 'privacy' %}" itemprop="url"><span itemprop="name">Политика конфиденциальности</span></a></li>
                        </ul>
                    </nav>

                </div>

            </div>

        </div>


    </footer>



    {% include "default/includes/account.html" %}


    {% if index or request.path == "/search"%}
    <script src="{% static '/js/nice-select2.js' %}"></script>
    {% endif %}

    
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
     function enableBtn() {
		document.querySelector('.registration-submit').disabled = false
	}
    </script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="{% static '/js/app.min.js' %}"></script>


</body>
</html>