<!doctype html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Читать книги онлайн бесплатно на мобильном телефоне и компьютере{% if page_obj.number > 1 %} - Страница {{page_obj.number}}{% endif %}{% endblock %}</title>
    <meta name="description" property="og:description" content="{% block description %}thisbook.com - вебсайт на котором у вас есть возможность читать книги онлайн бесплатно. На нашем сайте десятки тысяч книг самых разных жанров{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Книги, читать онлайн, библиотека, русская литература, зарубежная литература{% endblock %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {% if request.path == "/" %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"  />
    {% endif %}
    <link rel="stylesheet" href="{% static '/css/app.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="canonical" href="{% block canonical %}https://thisbook.com{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}{{request.build_absolute_uri }}{% endblock %}" />
    <meta property="og:title" content="{% block og_title %}Читать книги онлайн бесплатно{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static '/img/logo.svg' %}{% endblock %}" />
    <meta property="og:image:alt" content="{% block og_image_alt %}Читать книги онлайн бесплатно{% endblock %}" />
    <meta name="google-site-verification" content="DWyB3k4iEYQe13LxIBVL8-fChIVmIcjFXb-m5GLayQg" />
    <meta name="yandex-verification" content="e132e8b98b4a9534" />
    {% block no_index %}{% endblock %}
</head>
<body>


{% include "default/includes/header.html" %}

{% block hero %}
{% endblock %}

{% block post %}
{% endblock %}

{% block popular %}
{% endblock %}

{% block latest %}
{% endblock %}

{% block authors %}
{% endblock %}

{% block years %}
{% endblock %}


{% include "default/includes/footer.html" %}