{% extends "default/base.html" %}

{% block hero %}
    {% include "default/includes/hero.html" %}
{% endblock %}

{% block popular %}
    {% include "default/includes/popular.html" %}
{% endblock %}

<!-- {% block categories %}
    {% include "default/includes/categories.html" %}
{% endblock %}



{% block latest %}
    {% include "default/includes/latest.html" %}
{% endblock %}

{% block about %}
    {% include "default/includes/about.html" %}
{% endblock %}
-->

{% block authors %}
    {% include "default/includes/authors.html" %}
{% endblock %} 

{% block years %}
    {% include "default/includes/years.html" %}
{% endblock %} 