{% extends "default/base.html" %}

{% block title %}Книги которые вы читаете прямо сейчас{% endblock %}

{% block main_class %}page{% endblock %}

{% block no_index %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block hero %}
    {% include "default/includes/hero.html" %}
{% endblock %}

{% block post %}

<main>
    <div class="container">
        <div class="profile">
            <h1>Смена пароля</h1>
            <form method="post" class="change-password">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Отправить</button>
            </form>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
    </div>
</main>

{% endblock %}